* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.generator {
  font-size: 1.2rem;
  color: rgb(177, 17, 179);
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  padding: 30px;
  background-color: rgb(52, 191, 61);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.generator input {
  text-align: center;
  border: none;
  border-radius: 12px;
}
.generator input[type="checkbox"] {
  cursor: pointer;
}
button {
  margin-top: 0.5rem;
  height: 1.4rem;
  border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.generator #output {
  width: 30rem;
  word-wrap: break-word;
  margin-top: 0.5rem;
  text-align: center;
}

main {
  background-color: rgba(18, 114, 24, 0.801);
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.animated-text {
  animation: fadeIn 2s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
